<form #f="ngForm" (ngSubmit)="user(f.value)">
    <div class="form-group" ngModelGroup #udetails="ngModelGroup">
        
        <div class="form-group col">
            <label for="name">Name</label>
            <input required minlength="4" ngModel #name="ngModel" type="text" class="form-control w-50" id="name"
                name="name">

        </div>
        <div class="form-group" *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

            <div *ngIf="name.errors?.['required']">
                Name is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
                Name must be at least 4 characters long.
            </div>
        </div>


    
    <div class="form-group">
        <label for="email">Email</label>
        <input required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel name="email" #email="ngModel"
            type="email" class="form-control w-50" id="email">
    </div>

    <div class="form-group" *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

        <div *ngIf="email.errors?.['required']">
            email is required.
        </div>
        <div *ngIf="email.errors?.['pattern']">
            Please, enter valid email
        </div>
    </div>


    <div class="form-group">
        <label for="email">Mobile No</label>
        <input required pattern="^((\\+91-?)|0)?[0-9]{10}$" ngModel name="no" #no="ngModel" type="text"
            class="form-control w-50" id="no">
    </div>


    <div class="form-group" *ngIf="no.invalid && (no.dirty || no.touched)" class="alert alert-danger">

        <div *ngIf="no.errors?.['required']">
            Number is required.
        </div>
        <div *ngIf="no.errors?.['pattern']">
            Please, enter valid 10 digit Mobile number
        </div>
    </div>


    <div class="form-group" ngModelGroup #address="ngModelGroup">
        <label for="city">City</label>
        <input required minlength="4" ngModel #city="ngModel" type="text" class="form-control w-50" id="city" name="city">
    </div>

    <div class="form-group" *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">

        <div *ngIf="city.errors?.['required']">
            City is required.
        </div>
        <div *ngIf="city.errors?.['minlength']">
            city must be at least 4 characters long.
        </div>
    </div>



    <div class="form-group" ngModelGroup #address="ngModelGroup">
        <label for="city">Pincode</label>
        <input required minlength="6" maxlength="6" ngModel #pincode="ngModel" type="text" class="form-control w-50"
            id="pincode" name="pincode">
    </div>

    <div class="form-group" *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)" class="alert alert-danger">

        <div *ngIf="pincode.errors?.['required']">
            6 digit pin is required.
        </div>

        <div *ngIf="pincode.errors?.['minlength']">
            Pin must be at least 6 digit long.
        </div>
       

    </div>



    <div class="form-group" ngModelGroup #address="ngModelGroup">
        <label for="city">State</label>
        <input required minlength="4" ngModel #state="ngModel" type="text" class="form-control w-50" id="state" name="state">
    </div>


    <div class="form-group" *ngIf="state.invalid && (state.dirty || state.touched)" class="alert alert-danger">

        <div *ngIf="state.errors?.['required']">
            State is required.
        </div>
        <div *ngIf="state.errors?.['minlength']">
            State must be at least 4 characters long.
        </div>
    </div>
    <div class="form-group" ngModelGroup #address="ngModelGroup">
        <label for="city">House No</label>
        <input ngModel #houseno="ngModel" type="text" class="form-control w-50" id="houseno" name="houseno">
    </div>
    <div class="form-group" ngModelGroup #address="ngModelGroup">
        <label for="city">Colony</label>
        <input required minlength="4" ngModel #colony="ngModel" type="text" class="form-control w-50" id="colony"
            name="colony">
    </div>


    <div class="form-group" *ngIf="colony.invalid && (colony.dirty || colony.touched)" class="alert alert-danger">

        <div *ngIf="colony.errors?.['required']">
            State is required.
        </div>
        <div *ngIf="colony.errors?.['minlength']">
            State must be at least 4 characters long.
        </div>
    </div>
</div>

<div class="mt-1">
    <button class="btn btn-primary btn-sm" [disabled]="!f.valid">Submit</button>
</div>

</form>